.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
}

.item {
    box-shadow: 0 0 1.5rem 0 rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    line-height: 19px;
    margin: 0.3rem auto;
    cursor: pointer;
    max-width: 265px;
}

.item:hover {
    transform: translateY(-3.5%);
    transition: 0.4s ease-out;
}

.item img {
    border-radius: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

.info {
    display: flex;
    align-items: center;
}

.info svg {
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .container {
        grid-gap: 1.99rem;
    }

    .item {
        margin: 0 0;
        width: 240px;
    }
}
