.searchbarContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchbarOptions ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    padding: 0;
}
  
.searchbarOptions li {
    cursor: pointer;
    color: #ffffff;
    border-bottom: 1px solid #fff;
    padding: 0 1rem 0.33rem 1rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: .93rem;
    transition: color .25s;
}
  
.searchbarOptions li:hover {
    color: #d4cfcf;
}
  
.searchbarOptions li.active {
    border-bottom: 1px solid #f0c36c;
    color: #f0c36c;
}
  
.searchbarFields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
}
  
.searchbarFields input {
    width: 100%;
    margin: 0 2rem;
    padding: .66rem 1rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: .87rem;
    font-weight: 500;
    color: #cca353;
}
  
.searchbarSubmit {
    text-align: center;
}
  
.searchbarSubmit span {
    border-radius: 4px;
    padding: .72rem 1.7rem;
    background-color: #cca353;
    color: #ffffff;
    font-weight: 600;
    transition: background-color .5s;
}
  
.searchbarSubmit span:hover {
    cursor: pointer;
    background-color: #a7874b;
}

@media (min-width: 768px) {
    .searchbarContainer {
        width: auto;
    }

    .searchbarOptions li {
        padding: 0 2.58rem .33rem 2.58rem;
    }
  }
