.container {
    display: flex;
    flex-wrap: wrap;
    /* margin: 1rem */
}

.item {
    width: 240px;
    box-shadow: 0 0 1.5rem 0 rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    line-height: 19px;
    margin: 1rem auto;
    cursor: pointer;
}

.item:hover {
    transform: translateY(-3.5%);
    transition: 0.4s ease-out;
}

.item img {
    border-radius: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

.info {
    display: flex;
    align-items: center;
}

.info svg {
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .container {
        flex-wrap: nowrap;
    }

    .item:not(:first-child) {
        margin-left: -50px;
    }
}


/* .container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .item:not(:first-child) {
      margin-left: -50px;
  }
  
  .item:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .item:hover ~ .item {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

  .item img {
    border-radius: 2rem;
    width: 100%;
}
   */
   